# Gradle
.gradle/
build/
app/build/

# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws
.navigation/
captures/
.externalNativeBuild/
.cxx/
local.properties

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# Map generation files & artifacts
/mapas/
/mapas_test/
*.pmtiles
pmtiles
temp_*.geojson
